@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#45C4B0,#9AEBA3);
}
main {
background-color: white; 
border-radius: 10px; /* serve para arredondar os cantos */
box-shadow: 5px 5px 15px rgb(79, 129, 93);
width: 600px; /* serve para definir a largura */
padding: 10px; /* serve para definir o preenchimento */
margin:auto; /* serve para centralizar o elemento */
}
h1 {
color: #9AEBA3;
text-align: center;
text-shadow: 1px 1px 2px rgb(84, 128, 89);
}
h2 {
color: #13678A;
}
p {
text-align: justify;
}
